Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/MS_Blood/Decal/20_Blood_Stain_sg2aadcc/sg2aadcc_8K_Opacity.uasset
Content/MS_Blood/Megascans_Blood_Source.zip
